
.myContainer {
  width: 100%;
  height: 100%;
  background-color: #161616;
  display: flex;
  position: fixed;

}

.custom1 {
  background-color: #191919;
  width: 20%;
  height: 100%;
  padding-top: 1rem;
  padding-left: 1rem;
}

.custom2 {
  width: 80%;
  height: 100%;
}

.custom1>p {
  color: #fff
}

.customRow {
  margin-left: 0;
  display: inline-flex;
  padding-left: 25px;
  margin-top: 10px;
  color: #ffff;
}

#text {
  margin-right: 15px;
  margin-top: -3px;
}

